In [ ]:
import yahoofinancials as YahooFinancials
import pandas as pd
import plotly.express as px
import yfinance as yf

In [7]:
tickers=['CIB']
start_date='2018-01-01' # Formato Año-Mes-Día
end_date='2022-03-21' # Formato Año-Mes-Día
panel_data=yf.download(tickers, start_date, end_date, progress=False)
panel_data.head()

                 Open       High        Low      Close  Adj Close  Volume
Date
2018-01-02  39.980000  40.860001  39.980000  40.830002  35.390408  157900
2018-01-03  40.790001  41.119999  40.560001  41.049999  35.581097  111600
2018-01-04  41.380001  42.259998  41.060001  42.189999  36.569214  186600
2018-01-05  42.000000  43.139999  42.000000  43.090000  37.349312  194700
2018-01-08  43.090000  43.349998  42.889999  43.220001  37.462006  196600

In [ ]:
panel_data.to_excel(r'C:\Users\ACADA\Desktop\EHM\SimMontecarlo.xlsx')

In [9]:
volumen = panel_data['Volume']
volumen.head()

Date
2018-01-02    157900
2018-01-03    111600
2018-01-04    186600
2018-01-05    194700
2018-01-08    196600
Name: Volume, dtype: int64

In [ ]:
fig=px.line(volumen,y=volumen.columns)
fig.show()