In [2]:
import pandas as pd

In [20]:
Datos=pd.read_excel('Datos_proyecto_estadistica.xlsx')
Datos.head()

       Dates  GRUPOARG CB Equity  BIPC US Equity
0 2020-03-31             12320.0         21.6933
1 2020-04-01             10700.0         22.8000
2 2020-04-02             11760.0         24.3933
3 2020-04-03             12100.0         23.5267
4 2020-04-06             11800.0         24.7067

In [21]:
Datos.set_index('Dates', inplace=True)
Datos.head()

            GRUPOARG CB Equity  BIPC US Equity
Dates
2020-03-31             12320.0         21.6933
2020-04-01             10700.0         22.8000
2020-04-02             11760.0         24.3933
2020-04-03             12100.0         23.5267
2020-04-06             11800.0         24.7067